extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/log-in') Log In
  br
  a(href='/sign-up') Sign Up
  br

  if(user) 
    a(href='logout') Log Out
    br
    a(href='/create-message') Create a new message

  if(messages)
    ul
      for message in messages
        li
          h4= message.title
          p= message.message
          if(user)
            p Author: #{message.authorUsername}
            p Uploaded: #{message.dateUploaded}
          if(user && user.admin)
            form(method='POST')
              label.message-delete(for='messageDelete') message 
              input.message-delete(id='messageDelete', name='messageDelete', for='messageDelete', value=message.id)
              button(type='submit') Delete Message
