extends layout

block content

  a(href='/') Home

  h1= title

  form(method='POST')
    label(for='firstName') First Name:
    input(type='text', id='firstName', for='firstName', name='firstName', minlength='3', required, value=firstName ? firstName : '',)

    label(for='lastName') Last Name:
    input(type='text', id='lastName', for='lastName', name='lastName', minLength='3', required, value=lastName ? lastName : '',)
    
    label(for='username') Username:
    input(type='text', id='username', for='username', name='username', minLength='4', required, value=username ? username : '',)

    label(for='password') Password:
    input(type='password', id='password', for='password', name='password', minLength='4', required, value=password ? password : '',)

    label(for='confirmPassword') Confirm Password:
    input(type='password', id='confirmPassword', for='confirmPassword', name='confirmPassword', minLength='4', required, value=confirmPassword ? confirmPassword : '',)

    button(type='submit') Submit

  if(errors) 
    ul
      for error in errors
        li= error.msg
  if(userExists)
    p A user with that username already exists please try a different username
